# Dependências
node_modules/

# Arquivos de ambiente
.env

# Arquivos de sessão do WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
package-lock.json 